.app--component {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: slategrey;
  font-family: 'Rubik', sans-serif;
  color: darkslategrey;
}
HEADER {
  height: 160px;
  background: floralwhite;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

MAIN {
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  padding: .5rem 2rem;
  border: 1px solid slategrey;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}
.light-color {
  color: floralwhite;
  border-color: floralwhite;
}
.dark-color {
  color: darkslategrey;
  border-color: slategrey;
}

.button--container {
  display: flex;
}
.button--container .button{
  margin-right: 1rem;
}

.textarea {
  height: 100%;
  width: 50%;
}

.json--container {
  font-family: monospace;
  height: 100%;
  width: 50%;
  background:rgb(13, 19, 35);
  color: rgb(244, 255, 255);
  white-space: pre;
}

.status {
  height: 20px;
  background: #eee;
  padding: 0 1rem;
  color: darkslategrey;
}

