.app--component {
  height: 100vh;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  background: rgb(244, 255, 255);;
  font-family: 'Rubik', sans-serif;
  color: rgb(13, 19, 35);
}

DIV.CodeMirror {
  height: 100%;
  padding: 1rem;
  padding-left: 0;
  background: inherit;
}

HEADER {
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: .2rem;
}
.header-instructions P {
  font-size: .8rem;
  margin-top: .3rem;
  width: 400px;
}
MAIN {
  height: calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textarea {
  height: 100%;
  width: 50%;
}

.json--container {
  font-family: monospace;
  height: 100%;
  width: 50%;
  background:rgb(13, 19, 35);
  color: rgb(244, 255, 255);
  white-space: pre;
  padding: 1rem;
  overflow: auto;
}
