.status {
  height: 20px;
  background: #f7f7f7;
  padding: 0 1rem;
  font-family: monospace;
  line-height: 1.7;
}

.normal {
  color: inherit;
}
.success {
  color: green;
}
.error {
  color: red;
}

.flash {
    animation: flash .8s linear;
}

@keyframes flash {
    0% {
        background: #f7f7;
    }
    50% {
        background: #f7f7;
    }
    100% {
        background: #f7f7f7f7;
    }
}